* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#header {
    height: 36px;
    background-color: black;
}

#nav {
    display: inline-block;
}

#nav>li {
    display: inline-block;
}

#nav>li>a {
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    color: #fff;
    background-color: black;
    line-height: 36px;
    padding: 0 10px;
    position: relative;
    display: block;
}

#nav>li:hover>a,
#nav .subnav li:hover a {
    color: black;
    background-color: #ccc;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav {
    display: none;
    list-style: none;
    line-height: 24px;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#nav .nav-arow-down {
    font-size: 12px;
}

#nav .subnav li {
    background-color: #fff;
}

#nav .subnav a {
    color: #000;
    background-color: #fff;
}

#header .search-bt {
    float: right;
    line-height: 36px;
    padding: 0px 15px;
}

#header .search-bt:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .search-icon {
    color: #fff;
}

#slider {}